<mat-toolbar>
  <div
    style="
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    "
  >
    <h2>COIN DETAILS</h2>
    <div
      style="display: flex; flex-direction: row; justify-content: space-between"
    >
      <button class="mat-raised-button primary" (click)="goToCryptoHome()">
        <mat-icon style="vertical-align: middle; margin-right: 10px"
          >arrow_back</mat-icon
        >Back To Crypto Home
      </button>
    </div>
  </div>
</mat-toolbar>
