<mat-toolbar>
  <div
    style="
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    "
  >
    <h2>COIN DETAILS</h2>
    <div
      style="display: flex; flex-direction: row; justify-content: space-between"
    >
      <button class="mat-raised-button primary" (click)="goToCryptoHome()">
        <mat-icon style="vertical-align: middle; margin-right: 10px"
          >arrow_back</mat-icon
        >Back To Crypto Home
      </button>
    </div>
  </div>
</mat-toolbar>

<div class="container">
  <div>
    <mat-card class="example-card">
      <mat-card-header style="margin: 10px 150px; text-align: center">
        <mat-card-title>{{ this.coinData.name }}</mat-card-title>
        <mat-card-subtitle>{{ this.coinData.symbol }}</mat-card-subtitle>
      </mat-card-header>
      <img
        class="card-image"
        src="{{ this.coinData.image.large }}"
        alt="Photo of a crypto currency"
        height="250px"
        width="250px"
      />
      <mat-card-content>
        <h4
          style="margin-top: 25px"
          [innerHtml]="this.coinData?.description?.en.split('. ')[0]"
        ></h4>
        <h3>Ranking :{{ this.coinData.market_cap_rank }}</h3>
        <h3>Current Price : {{ this.coinData?.current_price?.usd || "NA" }}</h3>
        <h3>Market Capital : {{ this.coinData?.market_cap?.usd || "NA" }}</h3>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="graph">this is for graph</div>
</div>
