<div style="margin-top: 30px">
  <div
    style="
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
    "
  >
    <h2>All Courses</h2>
    <button
      mat-mini-fab
      routerLink="/create-course"
      matTooltip="Create a Course"
      matTooltipPosition="right"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <mat-tab-group>
    <mat-tab label="Beginner">
      <app-courses-card-list></app-courses-card-list>
    </mat-tab>
    <mat-tab label="Advanced">
      <app-courses-card-list></app-courses-card-list>
    </mat-tab>
  </mat-tab-group>
</div>
