<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav style="width: 200px">
    <mat-nav-list (click)="sidenav.close()">
      <a mat-list-item routerLink="/"
        ><mat-icon>home</mat-icon><span>Home</span></a
      >
      <a mat-list-item
        ><mat-icon>library_books</mat-icon><span>Courses</span></a
      >
      <a mat-list-item
        ><mat-icon>question_answer</mat-icon><span>About</span></a
      >
      <a mat-list-item><mat-icon>person_add</mat-icon><span>Register</span></a>
      <a mat-list-item><mat-icon>account_circle</mat-icon><span>Login</span></a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar color="primary">
    <button mat-button-icon (click)="sidenav.open()">
      <mat-icon>menu</mat-icon>
    </button>
    &nbsp;&nbsp;
    <h1>ANGULAR MATERIAL PROJECT</h1>
    <a mat-button [matMenuTriggerFor]="dropdown">Screens</a>
    <mat-menu #dropdown>
      <button mat-menu-item routerLink="/courses">Courses</button>
      <button mat-menu-item routerLink="/about">About</button>
      <button mat-menu-item routerLink="/crypto">Crypto Web</button>
    </mat-menu>
    <a mat-button> <mat-icon>person_add</mat-icon><span>Register</span> </a>
    <a mat-button> <mat-icon>account_circle</mat-icon><span>Login</span> </a>
  </mat-toolbar>

  <router-outlet></router-outlet>

  <div class="bubbles">
    <span style="--i: 11"></span>
    <span style="--i: 12"></span>
    <span style="--i: 24"></span>
    <span style="--i: 10"></span>
    <span style="--i: 14"></span>
    <span style="--i: 23"></span>
    <span style="--i: 18"></span>
    <span style="--i: 16"></span>
    <span style="--i: 19"></span>
    <span style="--i: 20"></span>
    <span style="--i: 22"></span>
    <span style="--i: 25"></span>
    <span style="--i: 18"></span>
    <span style="--i: 21"></span>
    <span style="--i: 15"></span>
    <span style="--i: 13"></span>
    <span style="--i: 25"></span>
    <span style="--i: 17"></span>
    <span style="--i: 13"></span>
    <span style="--i: 28"></span>

    <span style="--i: 11"></span>
    <span style="--i: 12"></span>
    <span style="--i: 24"></span>
    <span style="--i: 10"></span>
    <span style="--i: 14"></span>
    <span style="--i: 23"></span>
    <span style="--i: 18"></span>
    <span style="--i: 16"></span>
    <span style="--i: 19"></span>
    <span style="--i: 20"></span>
    <span style="--i: 22"></span>
    <span style="--i: 25"></span>
    <span style="--i: 18"></span>
    <span style="--i: 21"></span>
    <span style="--i: 15"></span>
    <span style="--i: 13"></span>
    <span style="--i: 25"></span>
    <span style="--i: 17"></span>
    <span style="--i: 13"></span>
    <span style="--i: 28"></span>
  </div>
</mat-sidenav-container>
