<div class="create-course-panel data-form">
  <h2 class="title">Create New Course</h2>
  <mat-horizontal-stepper
    class="mat-elevation-z5"
    labelPosition="bottom"
    [linear]="true"
  >
    <mat-step errorMessage="Error in Course Details !!">
      <ng-template matStepLabel>Course Details</ng-template>
      <app-createcoursestep1></app-createcoursestep1>
      <br />
      <br />
      <div class="stepper-buttons">
        <button mat-raised-button color="accent" matStepperNext>
          Add Course
        </button>
      </div>
    </mat-step>

    <mat-step errorMessage="Error in Course Lessons !!"
      ><ng-template matStepLabel>Course Lessons</ng-template>
      <app-createcoursestep2></app-createcoursestep2>
      <div class="stepper-buttons">
        <button mat-raised-button color="accent" matStepperPrevious>
          Back
        </button>
        <button mat-raised-button color="primary">Create Course</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
